[submodule "external/circle-stdlib"]
	path = external/circle-stdlib
	url = https://github.com/smuehlst/circle-stdlib
[submodule "external/Synth_Dexed"]
	path = external/Synth_Dexed
	url = https://codeberg.org/dcoredump/Synth_Dexed.git
[submodule "external/CMSIS_5"]
	path = external/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5
